* {
  margin: 0;
  padding: 0; /* без отступов */
}
.header__img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover; /* круглое фото */
}
.h1 {
  font-size: 24px; /* заголовок */
}
.header {
    display: flex;           
    align-items: center;     /* инфа на 30 пх от фото */
    gap: 30px;               
}
.wrapper {
  max-width: 800px;
  margin: 0 auto; /* по середине все */
}
.header__contacts {
    margin-left: 276px; /* расстоение контактов */
}
hr {
    margin: 30px 0; /* 30px сверху и снизу */
    border: 1px;
    height: 2px;
    background-color: #fba6e3;
}
.about {
  margin-top: 20px;
}

.table {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.table__hobbies {
  border: 1px solid #d813ad;
  border-radius: 10px 0 0 10px;
}

.table__hobbies-title,
.table__social-title {
  border-bottom: 1px solid #d813ad;
  text-align: center;
  color: #d813ad;
  padding: 5px 0;
  font-weight: bold;
}

.table__social {
  border: 1px solid #d813ad;
  border-radius: 0 10px 10px 0;

}

.table__list {
  width: fit-content;
  margin: 0 auto;
}

.table__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.table__list-item:hover {
  cursor: pointer;
  color: #d813ad;
}

.table__list-item>a {
  text-decoration: none;
  color: black;
}

.title {
  background: #d813ad;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin-top: 60px;
}
